html,
body {
  margin: 0;
  padding: 0;
  image-rendering: optimizeSpeed; /* Older versions of FF */
  image-rendering: -moz-crisp-edges; /* FF 6.0+ */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non standard naming) */
  image-rendering: pixelated; /* Chrome 41 */
}

#content {
  display: block;
  width: 100%;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  #content {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  #content {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
